*{
    margin: 0%;
    padding: 0%;
}
    /* font style */
body{
    font-family: 'Lato', sans-serif;
}
.flower-lotus{
    justify-content:center;
}
.flower-rose{
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    background-color:#E554731A;
    padding:100px;
    
}
.images{
    width: 350px;
    height: 450px;
    margin-top: 0px;
     
   
}
.header-style {
    margin-top: 150px;
    font-size: 50px;
}
.btn{
    display: inline-flex;
    margin-top: 15px;
    padding: 12px 28px;
    align-items: flex-start;
    border: 0px;
    border-radius: 6px;
    background: #E55473;
    color: #FFFFFF;
}
.main{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}
.pink-1{
    width: 260px;
    height: 270px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding-top: 30px;
}
.pink-2{
    width: 260px;
    height: 270px;
    background-color:#0597A026;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding-top: 30px;
}
.pink-3{
    width: 260px;
    height: 270px;
    background-color:#477D1126;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding-top: 30px;
}
.pink-pink{
    display: flex;
    gap: 15px;
    margin-left: 300px;
    margin-top: 20px;
}


.font{
    
    gap: 135px;
    padding-left: 400px;
    margin-top: 20px;
    display: flex;
    
    text-decoration: underline;
}
.sign-up{
    display: flex;
    margin-top: 100px;
    text-align: center;
    gap: 100px;
    background-color: hwb(347 34% 6% / 0.073);
    justify-content: center;

}
.sign{
    margin-top: 200px;
}
.flower4{
    padding-top: 140px;
}
.btn-sing-up{
    display: inline-flex;
    padding: 15px 30px;
    color: wheat;
    gap: 10px;
    border-radius: 6px;
    background: #E55473;
    border: 0px;

}
.instagram{
    text-align: center;
    
}
.images4{
    display: flex;
    gap: 25px;
    margin-left: 250px;
    
}
.btn-submit{
    text-align: center;
    padding: 60px;
}
.text{
    width: 370px;
    padding: 12px;
    border: none;
    border-radius: 5px;

}
.submit1{
    padding: 12px;
    color: #FFFFFF;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    
    
}
.back-images{
    background-image: url(images/flower9.jpg.png);
    margin-top: 30px;
   margin: 40px 100px;
   border-radius: 8px;
    
}
.footer{
    text-align: center;
    padding: 100px;
    background-color: #111010;
}




