*{
    margin: 0%;
    padding: 0%;
}
    /* font style */
body{
    font-family: 'Lato', sans-serif;
}
.flower-lotus{
    justify-content:center;
}
.flower-rose{
    display: flex;
    /* text-align: center; */
    
    justify-content: space-between;
    background-color: #E554731A;
    padding:100px;
}
.images{
    width: 350px;
    height: 450px;
    margin-top: 30px;
     
   
}
.header-style {
    margin-top: 150px;
    font-size: 50px;
}
.btn{
    display: inline-flex;
    margin-top: 15px;
    padding: 12px 28px;
    align-items: flex-start;
    border: 0px;
    border-radius: 6px;
    background: #E55473;
    color: #FFFFFF;
}
.main{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}
.pink-1{
    width: 260px;
    height: 270px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding-top: 30px;
}
.pink-2{
    width: 260px;
    height: 270px;
    background-color:#0597A026;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding-top: 30px;
}
.pink-3{
    width: 260px;
    height: 270px;
    background-color:#477D1126;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding-top: 30px;
}
.pink-pink{
    display: flex;
    gap: 15px;
    margin-left: 300px;
    margin-top: 20px;
}


.font{
    
    gap: 135px;
    padding-left: 400px;
    margin-top: 20px;
    display: flex;
    
    text-decoration: underline;
}
   

